.booking {
    box-shadow: inset 0 0.25rem 1.25rem rgba(19, 24, 95, 0.1);

    .block {
        border: 1px solid $line-primary;
        border-radius: 0.75rem;
        width: 50%;
        box-shadow: 0 0.5rem 1rem rgba(19, 24, 95, 0.15);

        .input-text-primary {
            border: 1px solid $primary-blue-5;
        }
    }
}

.primary-blue-3 {
    background-color: #ff9800;
}
