.footer {
  background-color: $bg-secondary;
  padding: 7.5rem 19.5rem;
  position: relative;

  .footer-content {
    height: 10.75rem;
    .brand {
      gap: 5.45px;
      .icon-logo {
        height: 3.75rem;
        width: 3.75rem;
      }
      .text-logo {
        height: 27.27px;
        width: 81.82px;
      }
    }
    .copyright {
      color: #6f6f6f;
    }

    .link-container {
      width: 53.5rem;
      .list {
        h6 {
          padding: 1rem 0;
          .link {
            margin-block: 0.4px;
          }
        }
        ul {
          .link {
            margin-block: 0.25rem;
          }
        }
      }
    }
  }

  img.footer-decoration {
    position: absolute;
    top: 50px;
    left: 1477px;
    transform: translateY(-100%);
  }
}
