.home-header {
  user-select: none;
  .logo {
    height: 6.75rem;
    width: 21.25rem;
  }

  .hero-container {
    .img {
      width: 53.357rem;
      height: 23.25rem;
    }
    position: relative;
    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      width: 1920px;
      height: 1080px;
      @extend %bg-center;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &.deco-1::after {
      background-image: url("@/assets/images/home/deco-glasses.png");
    }
    &.deco-2::after {
      background-image: url("@/assets/images/home/deco-party.png");
    }
  }
}

.home {
  section {
    display: flex;
    flex-direction: column;
    padding-block: 7.5rem;
  }

  .find-vet {
    aspect-ratio: 1920/986;
    background-image: url("@/assets/images/home/vet-pointing-black-dog.png");
    @extend %bg-center;
    align-items: center;

    form {
      padding: 3.75rem;
      gap: 2.25rem;
      width: 32.875rem;
      border-radius: 2.5rem;
      margin-top: 3.5rem;
      transform: translateX(-50%);
      .date-picker {
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
      }
      .custom-checkbox {
        padding-block: 0.75rem;
        white-space: nowrap;
        font-size: 14.32px;
        line-height: 21.48px;
        font-family: "Roboto";
      }
    }

    @media (max-width: 120rem) {
      background-size: auto;
      overflow: hidden;
    }
  }

  .background-pattern {
    background-image: url("@/assets/images/home/bg-pattern-2.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    overflow: hidden;
    padding-bottom: 10.625rem;
  }

  .site-services {
    .content {
      margin-top: 5rem;
      width: 67.25rem;
      .service {
        padding: 1.25rem 2.5rem;
        flex: 1;
        img {
          width: 6rem;
          height: 6rem;
        }
      }
    }
  }

  .news {
    .news-board {
      $radius: 2.5rem;
      margin-top: 5rem;
      width: 67.25rem;
      position: relative;
      aside {
        border: 2px solid $line-primary;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        div {
          cursor: pointer;
          padding: calc(2.5rem - 0.9px) 2.5rem;
          border-bottom: 1px solid transparent;
          background-color: $bg-secondary;
          &:first-child {
            border-top-left-radius: $radius;
          }
          &:last-child {
            border-bottom-left-radius: $radius;
          }
          &:not(:last-child) {
            border-bottom-color: $line-secondary;
          }
          &.selected {
            background-color: $bg-primary;
            border-color: $line-primary;
            position: relative;
            &::before,
            &::after {
              content: "";
              @extend %bg-center;
              position: absolute;
            }
            &::before {
              background-image: url("@/assets/images/home/can.svg");
              width: 58.03px;
              height: 45.18px;
              top: 15px;
              left: -20px;
            }
            &::after {
              background-image: url("@/assets/images/home/hearts.svg");
              width: 23.42px;
              height: 16.47px;
              bottom: 10px;
              right: 10px;
            }
            p {
              color: $text-primary;
            }
          }
          p {
            margin: 0 1.625rem;
            white-space: nowrap;
            color: $text-tertiary;
          }
        }
      }
      .content {
        padding: 3.75rem;
        gap: 2.5rem;
        border: 0.125rem solid $line-primary;
        border-left: none;
        border-radius: 0 $radius $radius 0;
      }
      .decorate-img {
        position: absolute;
        bottom: -8px;
        right: -28px;
      }
    }
  }

  .featured-clinic {
    .container {
      margin-top: 5rem;
      .swiper {
        width: 81rem;
      }
      .swiper-slide {
        width: auto !important;
      }
      .more {
        position: absolute;
        top: -5rem;
        right: 0;
        transform: translateY(-100%);
      }
      .prev-button,
      .next-button {
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        background-color: transparent;
        padding: 0;
        .icon {
          background: $text-secondary;
        }
      }
      .prev-button {
        transform: rotate(90deg);
      }
      .next-button {
        transform: rotate(-90deg);
      }
    }

    .card {
      width: 342.67px;
      border-radius: 1.25rem;
      background-color: $grey-scale-7;
      padding: 1.25rem 1.25rem 1.5rem 1.25rem;
      gap: 2.25rem;
      &:hover {
        background-color: $grey-scale-6o;
      }
      &:has(.btn-s:active) {
        background-color: $grey-scale-7;
      }
      img {
        width: 18.75rem;
        height: 12.5rem;
        border-radius: 0.5rem;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -webkit-box-align: end;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-block: 1.5px;
        vertical-align: bottom;
      }
    }
  }
}
