@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'swiper/css';

.Kosugi-Maru{
    font-family: 'Kosugi Maru';
    font-weight: 400;
}

.roboto {
    font-family: 'roboto';
    font-weight: 500;
}

.veterinaryBanner {
    margin: 0 auto;
    width: 100%;
    height: 1004px;
    background-image: url('../images/veterinary/8.jpg');
    background-size: 100% 100%;
    /*  object-fit: cover; */
}

.veterinaryService .container {
    height: 750px;
    padding: 120px 0px;
}

.veterinaryTime .container {
    height: 650px;
    padding: 120px 0px;

    .timeTable {
        display: flex;
        height: 360px;
        padding: 24px;
        gap: 24px;
        border-radius: 28px;

        .timeTable-L {
            width: 392px;
            padding: 62.5px 12px 54px 54px;


        }

        .timeTable-R {
            width: 832px;
            padding: 12px 24px;
        }
    }
}


.petsMarquee .container {
    height: 420px;
    padding: 60px 120px 0 0;
}

.primary-blue-6 {
    background-color: #F1F7FF !important;
}

.primary-blue-5 {
    background-color: #e6effb !important;
}

.bg-third{
    background: $primary-blue-4;
}

.lineHeight-48 {
    line-height: 48px;
}

.lineHeight-30 {
    line-height: 30px;
}

.lineHeight-38-4 {
    line-height: 38.4px;
}

.lineHeight-22 {
    line-height: 22px;
}

.text-primary-5{
    color: $primary-blue-4;
}


.mr-8{
    margin-right: 8px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.fz-32 {
    font-size: 32px !important;
}

.fz-20 {
    font-size: 20px !important;
}

.fz-14 {
    font-size: 14px;
}

.h-60 {
    height: 60px;
}

.bottom-138{
    bottom: 138px;
}

.bottom-187 {
    bottom: 187px;
}

.left-360 {
    left: 360px;
}

.marquee{
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    overflow: hidden;
    position: relative;

    .marqueeItem {
       /*  display: inline-block; */
            animation: marquee 5s forwards infinite;
        }

}

.marquee::before,
.marquee::after{
    content:'';
    position:absolute;
    top:0;
    width: 50px;
    height:100%;
    z-index:1;
}

.marquee::before{
    left:0;
    background: linear-gradient(to right, $bg-primary 0%, rgba(255,255,255,0) 100%);
}

.marquee::after {
    right: 0;
    background: linear-gradient(to left, $bg-primary 0%, rgba(255, 255, 255, 0) 100%);
}

.me-16{
    margin-right: 16px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.bubble{
    position: relative;
    .vetTitle{
        position: absolute;
        left: 110px;
        top: 60px;
    }
    .banner01Jpg{
        position: absolute;
        z-index: 3;
        left:-325px;
        bottom:-135px;
    }
}

.veterinaryTime{
    position: relative;
    .section03Bg{
        position: absolute;
        top:0;
    }
}

.fz-16{
    font-size: 16px !important;
}

.fz-24{
    font-size: 24px !important;
}

.fz-48{
    font-size: 48px !important;
}

.lh-12{
    line-height: 1.2 !important;
}

.lh-15 {
    line-height: 1.5 !important;
}

.fw-400{
    font-weight: 400 !important;
}

.fw-600{
    font-weight: 600 !important;
}

.p-24{
    padding: 24px !important;
}

.mb-16{
    margin-bottom: 16px !important;
}

.img-240{
    width: '240px';
    height:'240px';
}