@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.Kosugi-Maru {
    font-family: 'Kosugi Maru';
    font-weight: 400;
}

.roboto {
    font-family: 'roboto';
    font-weight: 500;
}

.veterinaryHeader {
    margin: 0 auto;
    width: 100%;
    height: 62.75rem;
    background-image: url('../images/veterinary/8.jpg');
    background-size: 100% 100%;
    /*  object-fit: cover; */
}

.vetService {
    .container {
        height: 46.875rem;
        padding: 7.5rem 0rem;
    }
}

.veterinaryTime {
    .container {
        height: 40.625rem;
        padding: 7.5rem 0rem;
    }
}

.vetTimeTable {
    display: flex;
    height: 22.5rem;
    padding: 1.5rem;
    gap: 1.5rem;
    border-radius: 1.75rem;

    .timeTable-L {
        width: 24.5rem;
        height: 19.5rem;
        padding: 0.75rem 1.5rem;

        .VeterinaryInfo {
            width: 17.75rem;
            height: 16.625rem;
        }
    }

    .timeTable-R {
        width: 52rem;
        padding: 0.75rem 1.5rem;
    }
}

.vetlogo {
    width: 3.25rem;
    height: 2.625rem;
}

.phoneIcon {
    width: 2rem;
    height: 2rem;
}

.petsMarquee {
    width: 100% !important;
    height: 26.25rem !important;

    .container {
        padding: 3.75rem 7.5rem 0 0 !important;
    }
}

.bubble {
    position: relative;

    .bubbleJpg {
        width: 32.875rem !important;
        height: 22.6875rem !important;
    }

    .vetBannerTitle {
        position: absolute;
        left: 6.875rem;
        top: 3.75rem;
    }

    .bannerJpg {
        position: absolute;
        z-index: 3;
        left: -20.3125rem;
        bottom: -8.4375rem;

        .image {
            width: 122.5rem;
            height: 67.5rem;
        }
    }
}

.veterinaryTime {
    position: relative;

    .section03-bg {
        position: absolute;
        top: 0;
    }
}

.marquee {
    min-width: 81rem !important;
}

.primary-blue-5 {
    background-color: $primary-blue-5;
}

.lh-12 {
    line-height: 1.2 !important;
}

.lh-15 {
    line-height: 1.5 !important;
}

.lh-38-4 {
    line-height: 2.4rem;
}

.lh-22 {
    line-height: 1.375rem;
}

.text-primary-blue-4 {
    color: $primary-blue-4;
}

.mr-8 {
    margin-right: 0.5rem !important;
}

.mr-16 {
    margin-right: 1rem;
}

.mr-20 {
    margin-right: 1.25rem !important;
}

.m-50-5 {
    margin: 3.15625rem 0;
}

.fz-14 {
    font-size: 0.875rem;
}

.fz-16 {
    font-size: 1rem !important;
}

.fz-18 {
    font-size: 1.125rem !important;
}

.fz-20 {
    font-size: 1.25rem !important;
}

.fz-24 {
    font-size: 1.5rem !important;
}

.fz-28 {
    font-size: 1.75rem !important;
}

.fz-30 {
    font-size: 1.875rem !important;
}

.fz-32 {
    font-size: 2rem !important;
}

.fz-48 {
    font-size: 3rem !important;
}

.h-20 {
    height: 1.25rem;
}

.h-60 {
    height: 3.75rem;
}

.h-116 {
    height: 7.25rem;
}

.h-240 {
    height: 15rem;
}

.w-135 {
    width: 8.4375rem;
}

.w-306 {
    width: 19.125rem;
}

.bottom-138 {
    bottom: 8.625rem;
}

.bottom-187 {
    bottom: 11.6875rem;
}

.left-360 {
    left: 22.5rem;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.p-24 {
    padding: 1.5rem !important;
}

.mb-16 {
    margin-bottom: 1rem !important;
}

.img-240 {
    width: 15rem;
    height: 15rem;
}

.borderRadius-20 {
    border-radius: 1.25rem;
}

.borderBottom-1 {
    border-bottom: 0.0625rem dashed #82aad6;
}